<a href="#" class="nav-title color-theme"><span class="color-highlight">EAZY</span>MOBILE</a>
<span class="nav-text color-theme opacity-50">Splendid Simplicity</span>

<div class="nav nav-medium">
    <div class="divider"></div>
    <a id="page-welcome" href="Login">
        <i class="fa fa-sign color-red1-light"></i><span>Log Out</span><i class="fa fa-angle-right"></i>
    </a>     
    <!-- <a id="page-home" href="homepages.html">
        <i class="fa fa-home color-green1-dark"></i><span>Homepages</span><i class="fa fa-angle-right"></i>
    </a>    
    <a id="page-components" href="components.html">
        <i class="fa fa-cog color-blue2-dark"></i><span>Components</span><i class="fa fa-angle-right"></i>
    </a>  
    <a id="page-menus" href="navigations.html">
        <i class="fa fa-bars color-magenta2-dark"></i><span>Navigations</span><i class="fa fa-angle-right"></i>
    </a>     
    <a id="page-site-pages" href="pages.html">
        <i class="fa fa-file color-mint-dark"></i><span>Site Pages</span><i class="fa fa-angle-right"></i>
    </a>           
    <a id="page-pageapps" href="pageapps.html">
        <i class="fa fa-heart color-red1-dark"></i><span>App Styled</span><i class="fa fa-angle-right"></i>
    </a>   
    <a id="page-walkthrough" href="walkthroughs.html">
        <i class="fa fa-check-circle color-green1-light"></i><span>Walkthrough</span><i class="fa fa-angle-right"></i>
    </a>      
    <a id="page-media" href="media.html">
        <i class="fa fa-camera color-teal-dark"></i><span>Media Pages</span><i class="fa fa-angle-right"></i>
    </a>      
    <a id="page-cms" href="templates.html">
        <i class="fa fa-shopping-bag color-brown1-dark"></i><span>Templates</span><i class="fa fa-angle-right"></i>
    </a>     
    <a id="page-contact" href="page-contact.html">
        <i class="fa fa-envelope color-blue2-dark"></i><span>Contact</span><i class="fa fa-angle-right"></i>
    </a> -->
    <div class="divider top-15"></div>
    <p>Copyright <span class="copyright-year"></span> - Enabled. All rights Reserved.</p>
</div>
